.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 2821px;
  position: relative;
  overflow: hidden;
}
.div2 {
  height: auto;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 210px;
  overflow: visible;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.group-21 {
  width: 1440px;
  height: 1353px;
  position: static;
}
.group-20 {
  width: 1440px;
  height: 1353px;
  position: static;
}
.group-1 {
  width: 245px;
  height: 172px;
  position: static;
}
.div3 {
  color: #e66210;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 131px);
  top: 855px;
  width: 245px;
  height: 94px;
}
.div4 {
  color: #e66210;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 123px);
  top: 777px;
}
.group-16 {
  width: 1440px;
  height: 500px;
  position: static;
}
.rectangle-11 {
  background: #e66210;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1010px;
}
.rectangle-15 {
  background: #e66210;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  left: calc(50% - 720px);
  top: 1010px;
}
.rectangle-13 {
  background: #e66210;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  left: calc(50% - -320px);
  top: 1010px;
}
.image {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1010px;
  object-fit: cover;
}
.image2 {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(50% - 720px);
  top: 1010px;
  object-fit: cover;
}
.image3 {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(50% - -320px);
  top: 1010px;
  object-fit: cover;
}
.group-17 {
  width: 1440px;
  height: 500px;
  position: static;
}
.rectangle-112 {
  background: #e66210;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1630px;
}
.rectangle-152 {
  background: #e66210;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  left: calc(50% - 720px);
  top: 1630px;
}
.rectangle-132 {
  background: #e66210;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
  left: calc(50% - -320px);
  top: 1630px;
}
.image4 {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1630px;
  object-fit: cover;
}
.image5 {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(50% - 720px);
  top: 1630px;
  object-fit: cover;
}
.image6 {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(50% - -320px);
  top: 1630px;
  object-fit: cover;
}
.div5 {
  position: absolute;
  inset: 0;
}
.div6 {
  color: #e66210;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 367px);
  bottom: 96.36%;
  top: 2.59%;
  height: 1.05%;
  width: 129px;
}
.div7 {
  color: #e66210;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -238px);
  bottom: 96.36%;
  top: 2.59%;
  height: 1.05%;
  width: 162px;
}
.div8 {
  color: #e66210;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -489px);
  bottom: 96.36%;
  top: 2.59%;
  height: 1.05%;
  width: 209px;
}
.div9 {
  color: #e66210;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 576px);
  bottom: 96.36%;
  top: 2.59%;
  height: 1.05%;
  width: 121px;
}
.logo2 {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 28px;
  object-fit: cover;
}
.rectangle-10 {
  background: #e66210;
  width: 1920px;
  height: 349px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0px;
}
.div10 {
  width: 386px;
  height: 98.1px;
  position: static;
}
.div11 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 163.18px;
  width: 116px;
  height: 41.5px;
}
.div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -227px);
  bottom: 219.78px;
  width: 146px;
  height: 41.5px;
}
.div13 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -227px);
  bottom: 163.18px;
  width: 189px;
  height: 41.5px;
}
.div14 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 219.78px;
  width: 109px;
  height: 41.5px;
}
.div15 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 600px);
  bottom: 187.71px;
  width: 552px;
  height: 73.57px;
}
.line-1 {
  width: 1712px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 87.72px;
  overflow: visible;
}
.div16 {
  width: 315px;
  height: 127.34px;
  position: static;
}
._7-912-345-67-89 {
  color: #fac416;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -510px);
  bottom: 224.49px;
  width: 315px;
  height: 36.79px;
}
._7-912-345-67-892 {
  color: #fac416;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -510px);
  bottom: 187.71px;
  width: 315px;
  height: 36.79px;
}
.div17 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -548px);
  bottom: 160.35px;
  width: 252px;
  height: 27.35px;
}
._8-00-20-00 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -576px);
  bottom: 133.94px;
  width: 204px;
  height: 27.35px;
}
.logo {
  width: 352px;
  height: 166.01px;
  position: absolute;
  left: calc(50% - 960px);
  bottom: 135.83px;
  object-fit: cover;
}
.div18 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 259px;
  top: 1418px;
  width: 190px;
  height: 78px;
}
.div19 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 259px;
  top: 2050px;
  width: 171px;
  height: 36px;
}
.div20 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 779px;
  top: 2050px;
  width: 171px;
  height: 36px;
}
.div21 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 779px;
  top: 1432px;
  width: 171px;
  height: 36px;
}
.div22 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 1299px;
  top: 1430px;
  width: 179px;
  height: 36px;
}
.div23 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 1299px;
  top: 2050px;
  width: 192px;
  height: 36px;
}
._28 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 538px;
  top: 1467px;
}
._282 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 538px;
  top: 2085px;
}
._283 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 1058px;
  top: 2085px;
}
._284 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 1058px;
  top: 1467px;
}
._285 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 1578px;
  top: 1465px;
}
._286 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 1578px;
  top: 2085px;
}
